@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}
.main-container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
}

figure > img{
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}
figure > figcaption {
  margin-top: -5px;
  font-size: 20px;
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.container{
  max-width: 100%;
  margin: 10px;
  justify-content: center;
}

/* input country */
select {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  padding: 16px 20px;
  border: 3px solid black;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  background-color: #f1f1f1;
}

/* loading animation */
.loader {
  margin-left: auto;
  margin-right: auto;
  border: 0 solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
 }
 
 .loader::before,
 .loader::after {
  content: '';
  border: 7px solid #ccc;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  animation: loader 2s linear infinite;
  opacity: 0;
 }
 
 .loader::before {
  animation-delay: 1s;
 }
 
 @keyframes loader {
  0% {
   transform: scale(1);
   opacity: 0;
  }
 
  50% {
   opacity: 1;
  }
 
  100% {
   transform: scale(0);
   opacity: 0;
  }
 }

 /* data about covid */
 .data-title{
  display: block;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: 20px;
 }
 .data-title > h4{
  font-size: large;
 }
 .data-container{
  max-width: 100%;
  display: flex;
  padding: 5px;
  margin: 10px;
 }
 .flex-item{
  flex-grow: 1;
 }
.data-item{
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 26px -4px rgba(0,0,0,0.75);
padding: 20px;
}
.data-item > p{
  font-size: medium;
  margin: 10px;
  text-transform: none;
}

.grey{
  background-color: grey;
  color: seashell;
}

.red{
  background-color: maroon;
  color: seashell;
}

.green{
  background-color: darkgreen;
  color: seashell;
}
/* news article */
.article{
  display: flex;
  border: 3px solid black;
  margin: 30px;
}
.article:hover{
  background-color: orange;
}
.article-image{
  max-width: 30%;
  padding: 0;
}
.article-image > img{
  margin-bottom: -5px;
}
.article-text{
  padding: 30px;
}
@media screen and (max-width: 890px) {
  .data-container{
    display: block;
  }
  select{
    width: 100%;
  }
  .article-image {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  figure > figcaption {
    font-size: small;
  }
  .data-item{
    font-size: medium;
  }
  .article-text{
    font-size: xx-small;
  }
}